*.log
wp-config.php
/htdocs/wp-content/advanced-cache.php
/htdocs/wp-content/backup-db/
/htdocs/wp-content/backups/
/htdocs/wp-content/blogs.dir/
/htdocs/wp-content/cache/
/htdocs/wp-content/upgrade/
/htdocs/wp-content/uploads/
/htdocs/wp-content/plugins/
/htdocs/wp-content/wp-cache-config.php
/htdocs/wp-content/plugins/hello.php
/htdocs/wp-content/themes/twenty*

/node_modules/
htdocs/wp-content/languages
vendor
build
htdocs/wp-content/db.php
