
.wp-block-group.is-style-resource {
	background-color: #25b7c0;
	color: #fff;
	overflow: hidden;
}

.wp-block-group.is-style-resource h3 {
	font-family: "FOT-筑紫A丸ゴシック Std E";
	font-size: 20px;
	font-size: 2rem;
	line-height: 1;
	margin: 0 0 20px;
}

.wp-block-group.is-style-resource .wp-block-group__inner-container {
	margin: 30px 15px;
}

@media screen and (min-width: 769px) {
	.wp-block-group.is-style-resource .wp-block-group__inner-container {
		max-width: 1000px;
		margin: 60px auto;
		padding: 0 10px;
	}

	.wp-block-group.is-style-resource p {
		margin: 30px 0 35px;
	}

	.wp-block-group.is-style-resource h3 {
		margin: 0 0 30px;
	}
}
