
.wp-block-group.is-style-resource {
	background-color: #25b7c0;
	color: #fff;
	overflow: hidden;
}

.wp-block-group.is-style-resource h3 {
	font-family: "FOT-筑紫A丸ゴシック Std E";
	font-size: 20px;
	font-size: 2rem;
	line-height: 1;
	margin: 0 0 20px;
}

.wp-block-group.is-style-resource .wp-block-group__inner-container {
	margin: 30px 15px;
}

@media screen and (min-width: 769px) {
	.wp-block-group.is-style-resource .wp-block-group__inner-container {
		max-width: 1000px;
		margin: 60px auto;
		padding: 0 10px;
	}

	.wp-block-group.is-style-resource p {
		margin: 30px 0 35px;
	}

	.wp-block-group.is-style-resource h3 {
		margin: 0 0 30px;
	}
}

.schedule-table {
	width: 100%;
}
.schedule-table img {
	width: 20px;
	vertical-align: middle;
}
.schedule-table thead tr:first-child th,
.schedule-table thead tr:first-child td {
	border-top: 0;
}
.schedule-table th,
.schedule-table td {
	padding: 15px 5px;
	text-align: center;
	vertical-align: middle;
	border-top: 2px solid #a4dcde;
	border-left: 2px solid #a4dcde;
	box-sizing: border-box;
}
.schedule-table th:first-child,
.schedule-table td:first-child {
	border-left: 0;
}
.schedule-table th {
	color: #056e76;
	background-color: #d4efef;
}
.schedule-table td {
	color: #333;
	background-color: #fff;
}
.schedule-table thead {
	color: #056e76;
}
